@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    padding-top: 80px;
}

nav {
    background: #DA6A00;
    height: 160px;
    width: 100%;
    padding: 10px 0;
    position: fixed;
    top: 0;
    z-index: 1000;
}

label.logo, .logo-image{
    font-size: 30px;
    font-weight: bold;
    line-height: 60px;
    margin-left: 10px;
}

.brand-name {
    color: #002147;
}

.logo-image {
    display: none;
}
nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    /* margin: 0 10px;  */
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
    justify-content: center;
}

a.active {
    background: #2c3e50;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #2c3e50;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 20px;

    }

    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }

    label.logo {
        width: 100px;
        height: auto;
        margin: 0;
        float: left;
        display: none;
    }

    .logo-image {
        display: block;
    }

    .first {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: url(../images/Rolantek3.jpg) no-repeat;
        background-size: cover;
        top: 150px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        margin: 0;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #DA6A00;
    }

    a:hover {
        border-radius: 10px;
        color: yellow;
        position: none;
    }

    #check:checked ~ ul {
        left: 0;
    }
}

.div-mission {
    margin-top: 150px;
}

h1, h2, h3, h4, h5, h6 {
    color: #eef3db;
    font-weight: 700;
}

p {
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.showcase {
    background-size: cover;
    min-height: 100vh;
    padding-top: 150px;
    padding-bottom: 80px;
    background-image: url(../images/Rolantek3.jpg);
    background-position: center;
}

/* mission/vision/values */
.about-item {
    margin: 10px;
    background-color: #BC9C5F;
    padding: 10px;
}

.equal-height {
    height: 410px;
}

.equal-height-product {
    height: 330px;
}

.valueList {
    margin-top: 2px;
    text-align: left;
    padding: 10px;
    font-size: 15px;
}

.about-item i {
    font-size: 20px;
    margin: 0;
    padding-top: 10px;
}

.about-item h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.about-item hr {
    width: 45px;
    height: 3px;
    background-color: #2c3e50;
    margin: 0 auto;
    border: none;
}

.about-item p {
    margin-top: 10px;
    text-align: left;
    padding: 10px;
}

.about-item i {
    margin-top: 10px;
    padding-bottom: 10px;
}

.about-item:hover {
    background-color: rgba(44, 62, 80, 0.559);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr {
    transform: translateY(-20px);
}

.second-ul {
    text-align: center;
    padding-left: 3px;
    margin: 20px auto 0;
}

.second-ul li {
    padding-bottom: 10px;
    font-size: large;
    font-weight: bold;
}

#para {
    padding: 20px;
    line-height: 1.5;
}

.showcase2 {
    background-color: white;
    background-size: cover;
    background-position: center;
    min-height: 400px;
    text-align: center;
    padding-top: 80px;
}

.showcase2 p {
    color: #022a30;
}

.showcase2 h1 {
    color: #022a30;
}

.showcase2 hr {
    width: 80px;
    height: 3px;
    background-color: #022a30;
    margin: 0 auto;
    border: none;
}

.showcase h1, .showcase2 h1 {
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 10px;
    display: inline;
}

.showcase {
    text-align: center;
    color: #ffffff;
    padding-top: 100px;
}

.showcase .valueparagraphs, .showcase2 p {
    font-size: 15px;
    font-family: Arial, sans-serif;
    display: block;
    text-align: left;
}

.brand {
    color: #DA6A00;
    font-weight: bold;
    text-align: left;
}

.aboutUs-span {
    color: #DA6A00;
    font-weight: bold;
    font-size: 15px;
}

.view {
    font-size: 15px;
    font-weight: bold;
    color: black;
    opacity: 0.8;
    text-decoration: underline;
}

.view:hover {
    background-color: #DA6A00;
    color: black;
    border-radius: 5px;
    text-decoration: none;
}


/* executives */
.team {
    color: #DA6A00;
    padding-top: 20px;
    margin-bottom: 5px;
}

.team-line hr {
    width: 50px;
    height: 4px;
    background-color: #2c3e50;
    margin: 0 auto;
}

.team-line p {
    margin-top: 20px;
    color: #022a30;
    padding: 20px;
    line-height: 1.5;
    text-align: justify;
}

.team-line h1 {
    margin-bottom: 10px;
    text-align: left;
}

.owners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 40px;
    background-color: white;
}

.owner {
    text-align: center;
    margin: 20px;
    width: 280px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    background-color: #022a30;;
}

.owner img {
    width: 120px;
    height: 120px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.owner h3 {
    margin: 0;
}

.owner p {
    text-align: center;
    color: white;
}

/* contact us */
.full-height3 {
    min-height: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    /* border-bottom: 2px solid rgba(255,255,255,0.1); */
    background-color: white;
    background-size: cover;
    background-position: center;

}

.full-height3 h4 {
    color: #022a30;
}

.full-height3 h3 {
    color: #022a30;
}


.full-height4 {
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 50px;
    background: url(../images/rolantek4.jpg) no-repeat;
    background-size: cover;
}

.full-height5 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 50px;
    background: url(../images/rolantek4.jpg) no-repeat;
    background-size: cover;
}

.service {
    background: #E49448;
}

.shadow-effect {
    transition: all 0.5s;
}

.shadow-effect:hover {
    box-shadow: -10px 6px 0 0 white;;
}

.iconbox {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #e0f780;
    color: #022a30;
}

.text-brand {
    color: white;
}

/* UNDER SERVICES */
.auto {
    color: #022a30;
    font-weight: bold;
}

.auto-2 {
    color: #022a30;
    font-size: 20px;
}

/* contact */
#contact .form-control {
    background-color: white
}

.contact-div {
    background-color: rgba(2, 42, 48, 0.814);
    height: 350px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 15px;
}

.contact-btn {
    margin-top: 0;
    justify-content: center;
    align-items: center;
}

::placeholder {
    text-indent: 22px;
}

.form-control {
    border-radius: 10px;
    box-shadow: inset 8px 8px 8px #cbc3d1, inset -8px -8px 8px #ffffff;
}

.form-group:last-child {
    width: 96%;
}

.social-icons a {
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    font-size: 24px;
    background-color: #f03c02;
    color: white;
    text-decoration: none;
}

.social-icons a:hover {
    background-color: #AA5111;
    color: white;
}

.social-icons {
    padding-top: 5px;
    float: right;
}

.btn-brand {
    background-color: #f87217 ;
    border-bottom: #e0f780;
    color: #2c3e50;
    border-radius: 10px;
}

.btn-brand:hover,
.btn-brand:focus {
    background-color: #DA6A00;
    color: #022a30;
    border-color: #DA6A00;
    transition: 0.3;
}

.btn-brand:hover {
    background-color: #DA6816;
}

.botn {
    padding: 12px 28px;
    font-weight: 700;
    margin-left: 20px;
    border: none;
}

.form-control {
    padding: 20px 10px 10px 5px;
}

/* footer */
.foot {
    background-color: #DA6A00;
    height: 80px;
}

.copyright {
    color: #2c3e50;
    font-weight: bold;
    font-size: larger;
}

.contain {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
}

/* second footer */
#footer {
    color: #b4aca8;
    font-size: 14px;
    background: #002147;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #071338;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
    /* margin-left:45px ; */
}

#footer .footer-top .footer-contact h3 {
    font-size: 22px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #DA6A00;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Mulli", sans-serif;
    color: #b4aca8;
}

/* google/apple button */
.btn {
    width: 125px;
    background-color: #2c3e50;
    color: #DA6A00;
    height: 80px;
    border-radius: 15px;
}

.btn:hover {
    background-color: #DA6A00;
    color: green;
}

.icon {
    font-size: 28px;
}

.class4 {
    color: #DA6A00;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #DA6A00;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

li:hover {
    color: #DA6A00;
}

.div2 {
    padding: 30px 0;
}

.copyr {
    font-size: 15px;
}

#services, #products {
    background: #F4D4B6;
}

.product-services {
    color: #002147;
}
